.header {
  display: flex;     
  justify-content: center; 
  align-items: center;           
  padding: 20px 40px;           
  background-color: #080423;     
  color: white;                  
  position: relative;
}

.headerTitle {
  position: absolute;
  left: 400px;
  font-size: 34px;
  font-weight: bold;
  color: #ff3d81
}
.headerTitle a {
  text-decoration: none;
  color: inherit;
}

.headerSearch {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  width: 350px;                  
  
}

