.footer {
  display: flex;                 
  justify-content: center; 
  align-items: center;           
  padding: 20px 40px;            
  background-color: #080423;     
  color: white;                  
  position: relative;
  height: 80px;
}

.footerTitle {
  position: absolute;
  left: 400px;
  font-size: 24px;
  font-weight: bold;
  color: #ff3d81;
}

.footer a {
  text-decoration: none;
  color: gray
}

.footerLinks {
  display: flex;
  gap: 150px;
}