.footer {
  display: flex;                 /* делаем блок горизонтальным */
  justify-content: center; /* название слева, поиск справа */
  align-items: center;           /* вертикальное центрирование */
  padding: 20px 40px;            /* отступы сверху/снизу и слева/справа */
  background-color: #080423;     /* темный фон */
  color: white;                  /* цвет текста */
  position: relative;
  height: 80px;
}

.footerTitle {
  position: absolute;
  left: 400px;
  font-size: 24px;
  font-weight: bold;
  color: #ff3d81;
}

