.moviePage {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.posterWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.poster {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
}

.infoWrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.shortDescription {
  font-size: 18px;
  line-height: 1.5;
}

.details p {
  margin: 4px 0;
}

.galleryTitle {
  margin-top: 20px;
  font-size: 24px;
}

.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gallery img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.showAllLink{
  text-decoration: none;
  color: gray;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s;
}